name: Build and Push Analyzer Metrics Docker image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Record start time
        id: start-time
        run: echo "START_TIME=$(date +%s)" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # - name: Cache Docker layers
      #   uses: actions/cache@v3
      #   with:
      #     path: /tmp/.buildx-cache
      #     key: ${{ runner.os }}-buildx-${{ github.sha }}
      #     restore-keys: |
      #       ${{ runner.os }}-buildx-

      - name: Extract git commit SHA
        id: vars
        run: echo "GIT_COMMIT=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      # - name: Build and push Docker image
      #   uses: docker/build-push-action@v4
      #   with:
      #     context: .
      #     file: "Python Dockerfile"
      #     push: true
      #     tags: |
      #       ${{ secrets.DOCKER_USERNAME }}/analyzer-metrics-python:latest
      #       ${{ secrets.DOCKER_USERNAME }}/analyzer-metrics-python:${{ env.GIT_COMMIT }}
      #     build-args: |
      #       APP_VERSION=${{ env.GIT_COMMIT }}

          # cache-from: type=local,src=/tmp/.buildx-cache
          # cache-to: type=local,dest=/tmp/.buildx-cache,mode=max

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          # file: "Tensorflow Dockerfile"
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/analyzer-metrics-tensorflow:latest
            ${{ secrets.DOCKER_USERNAME }}/analyzer-metrics-tensorflow:${{ env.GIT_COMMIT }}
          build-args: |
            APP_VERSION=${{ env.GIT_COMMIT }}

          # cache-from: type=local,src=/tmp/.buildx-cache
          # cache-to: type=local,dest=/tmp/.buildx-cache,mode=max

      - name: Checkout definitions repository
        uses: actions/checkout@v2
        with:
          repository: Neuronsinc/troiatec-k8-definitions.git
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          path: definitions
          ref: main

      - name: Update Kubernetes YAML
        run: |
          cd definitions/analyzer/k8s
          sed -i "s|image: ojrivera/analyzer-metrics-tensorflow:.*|image: ojrivera/analyzer-metrics-tensorflow:${{ env.GIT_COMMIT }}|g" metrics/staging/analyzer-metrics-deployment.yml

          sed -i "s|image: ojrivera/analyzer-metrics-tensorflow:.*|image: ojrivera/analyzer-metrics-tensorflow:${{ env.GIT_COMMIT }}|g" metrics-celery/staging/analyzer-caracteristics-celery-deployment.yml
          sed -i "s|image: ojrivera/analyzer-metrics-tensorflow:.*|image: ojrivera/analyzer-metrics-tensorflow:${{ env.GIT_COMMIT }}|g" metrics-celery/staging/analyzer-feng-celery-deployment.yml
          sed -i "s|image: ojrivera/analyzer-metrics-tensorflow:.*|image: ojrivera/analyzer-metrics-tensorflow:${{ env.GIT_COMMIT }}|g" metrics-celery/staging/analyzer-prediction-celery-deployment.yml
          sed -i "s|image: ojrivera/analyzer-metrics-tensorflow:.*|image: ojrivera/analyzer-metrics-tensorflow:${{ env.GIT_COMMIT }}|g" metrics-celery/staging/analyzer-vids-celery-deployment.yml

          git config --global init.defaultBranch main
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add .
          git commit -m "Update image version to ${{ env.GIT_COMMIT }}"
          git push origin main

      - name: Record end time
        id: end-time
        run: echo "END_TIME=$(date +%s)" >> $GITHUB_ENV

      - name: Calculate build duration
        id: duration
        run: |
          START_TIME=${{ env.START_TIME }}
          END_TIME=${{ env.END_TIME }}
          DURATION=$((END_TIME - START_TIME))
          echo "DURATION=$DURATION" >> $GITHUB_ENV

      - name: Send notification to Slack
        if: success()
        run: |
          MINUTES=$((DURATION / 60))
          SECONDS=$((DURATION % 60))
          curl -X POST -H 'Content-type: application/json' --data '{
            "text": "La construccion del la imagen de analyzer-metrics-[python/tensorflow]:${{ env.GIT_COMMIT }} ha finalizado. ('"$MINUTES"':'"$SECONDS"')"
          }' https://hooks.slack.com/services/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
